{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "src": "./src/",
          "Config": "./src/Config",
          "Utils": "./src/Utils"
        }
      }
    ]
  ]
}
